body {
	margin: 0;
	padding: 0;
	min-width: 960px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #ddd;
  background: rgb(52, 59, 82);
  background: linear-gradient(to top, #37465a, #13396b);
	margin: 0 auto;
  padding: 0 10px;
  
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.container {
	width: 960px;
  margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  text-transform: uppercase;
  line-height: 36px;
  text-align: center;
  font-family: 'Balsamiq Sans', cursive, sans-serif;
}
.top {
  position: relative;
}
.top__phones {
  position: absolute;
  top: 1px;
  right: 50px;
  font-size: 20px;
  line-height: 24px;
}
.top__logo {
  margin-top: 20px;
  width: 200px;
  height: 200px;
}
.top__text {
  position: absolute;
  top: 50px;
  left: 230px;
  text-align: center;
  font-size: 18px;
}
.top__price {
  color: rgb(192, 98, 44);
  font-size: 34px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.service {
  display: flex;
}
.service-unit {
  width: 300px;
}
.service-unit  h1{
  text-align: center;
  padding-bottom: 0.5rem
}
.about h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 3rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-size: 32px;
  color: rgb(141, 112, 95);
}
.about h1 {
  text-align: center;
  font-size: 42px;
  color: rgb(192, 98, 44);
}
.about__logo {
  margin-top: 20px;
  width: 300px;
  height: 300px;
}
.proezd p {
  padding-top: 3rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 26px;
}
.proezd-video {
  margin: 0 10%;
}
.map p {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 26px;
}
.tablo p {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  font-size: 26px;
}
.reviews h1 {
  text-align: center;
  font-size: 36px;
}
.review {
  display: flex;
  margin-bottom: 10px;
}
.review div {
  margin-left: 20px;
}
.review__photo {
  height: 200px;
  width: 200px;
}
.review__title {
  margin: 20px 0;
  font-size: 24px;
  color: bisque;
}
.bottom {
  position: relative;
}
.bottom__phones {
  position: absolute;
  top: 1px;
  right: 20px;
}
.bottom__text {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
  font-size: 26px;
}
.bottom__text p {
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px)  {
  .header {
    line-height: 48px;
    font-size: 42px;
  }
  .top__phones {
    position: absolute;
    top: 1px;
    right: 50px;
    font-size: 32px;
  }
  .top__text {
    position: absolute;
    top: 80px;
    left: 250px;
    text-align: center;
    font-size: 26px;
  }
  .top__price {
    color: rgb(192, 98, 44);
    font-size: 48px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .service {
    flex-wrap: wrap;
    margin-left: 10%;
  }
  .service-unit {
    width: 48%;
    font-size: 24px;
  }
  .service-unit  h1{
    margin-left: 10%;
    text-align: justify;
    padding-bottom: 0.5rem
  }
  .about__photo {
    display: flex;
    flex-wrap: wrap;
  }
  .about__logo {
    margin-left: 20px;
    width: 46%;
    height: 300px;
  }
  .review__text {
    font-size: 14px;
  }
  .bottom__text {
    padding-top: 3rem;
  }
  }